.modal#chatModal(tabindex="-1" role="dialog" aria-labelledby="chatLabel" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h5#chatLabel.modal-title Conversation instantanée
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      .modal-body
        p#chatAlert.alert.alert-info En attente de réponse....
        hr
        form#chatForm
          .input-group
            label.sr-only(for="chatMessage") Friend search
            input.form-control(type="text",
                  name="chatMessage",
                  id="chatMessage"
                  placeholder="Envoyer un message...")
            span.input-group-btn
              button.btn.btn-dark(type="submit")
                i.fa.fa-send
        hr
        #chatMessages
          .alert.alert-light.chatMessage qdsdqsdqdfqsd
          .alert.alert-light qdsdqsdqdfqsd
          .alert.alert-light qdsdqsdqdfqsd
          .alert.alert-light qdsdqsdqdfqsd
          .alert.alert-light qdsdqsdqdfqsd
        hr
      .modal-footer
        button#acceptCall.btn.btn-info Démarrer la conversation
        button#refuseCall.btn.btn-danger Réfuser la conversation
