.card.mx-auto.my-2
  .card-body
    h4.d-flex.justify-content-between.align-items-center
      span Amis 
      span(title="Nombre d'amis")#friendCount.badge.badge-dark.px-3= user.friends.length
  div.list-group.list-group-flush.text-left
    if (isOwner)
      .list-group-item.pt-4
        include ./friendSearch.pug
      a(href="#" data-href="/user/{{ id }}")#friendSearchItem.friendA.list-group-item.list-group-item-action.d-none.justify-content-between.align-items-center
        span
          img.img-fluid(src="#" data-src="https://api.adorable.io/avatars/30/{{ id }}" width="30" height="30" alt="avatar")
          span
            | &emsp; {{ name }}
        .btn-group
          .btn.btn-sm
            i.fa.fa-fw
    include friendList
  if (isOwner || isAdmin)
    include shareFriend
