.card.mx-auto.my-2
  .card-body
    h4.d-flex.justify-content-between.align-items-center
      span Amis 
      span.badge.badge-dark.px-3= user.friends.length
  div.list-group.list-group-flush.text-left
    if (isOwner)
      .list-group-item.pt-4
        include ./friendSearch.pug
      a(href="/user/{{ id }}")#friendSearchItem.friendA.list-group-item.list-group-item-action.d-none.justify-content-between.align-items-center
        span
          img.img-fluid(src="https://api.adorable.io/avatars/30/{{ id }}" width="30" height="30")
          span
            | &emsp; {{ name }}
        .btn-group
          button.btn.btn-sm
            i.fa.fa-fw
    include friendList
    if (user.role !== 'admin' && isOwner)
      include shareFriend
