.card.mx-auto.my-2
  .card-body
    h4.d-flex.justify-content-between.align-items-center
      span Amis 
      span.badge.badge-dark.px-3= user.friends.length
  div.list-group.list-group-flush.text-left
    if (isOwner)
      .list-group-item
        include ./friendSearch.pug
    a(href="/user/{{ id }}")#friendSearchItem.list-group-item.list-group-item-action.list-group-item-info.d-none.justify-content-between.align-items-center
      span {{ name }}
      img.img-fluid.img-thumbnail(src="https://api.adorable.io/avatars/30/{{ id }}")
    each friend in user.friends
      a(href="/user/" + friend._id).list-group-item.list-group-item-action.d-flex.justify-content-between.align-items-center
        span #{friend.name || friend.email}
        img.img-fluid.img-thumbnail(src="https://api.adorable.io/avatars/30/" + friend._id)
