.card.mx-auto.my-2
  .card-body
    h5.card-title Amis
  ul.list-group.list-group-flush.text-left
    li.list-group-item.d-flex.justify-content-between.align-items-center
      a(href="#") Mr. Patate
      img.img-fluid.img-thumbnail(src="https://api.adorable.io/avatars/30/A123")
    li.list-group-item.d-flex.justify-content-between.align-items-center
      a(href="#") Mme. Patate
      img.img-fluid.img-thumbnail(src="https://api.adorable.io/avatars/30/B456")
    li.list-group-item.d-flex.justify-content-between.align-items-center
      a(href="#") Mr. Patate Junior
      img.img-fluid.img-thumbnail(src="https://api.adorable.io/avatars/30/C789")
    li.list-group-item.d-flex.justify-content-between.align-items-center
      a(href="#") M.lle Patate Junior
      img.img-fluid.img-thumbnail(src="https://api.adorable.io/avatars/30/0AB")
