<!-- Button trigger modal -->
<button type="button" class="btn btn-dark m-2 px-4" data-toggle="modal" data-target="#inboxCreateModal">
  i.fa.fa-pencil
  span &nbsp;Créer un fil de discussion
</button>
<br/>

<!-- Modal -->
<div class="modal fade" id="inboxCreateModal" tabindex="-1" role="dialog" aria-labelledby="inboxCreateModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inboxCreateModalLabel">Nouveau fil de discussion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-dark">Save changes</button>
      </div>
    </div>
  </div>
</div>
