li.list-group-item.px-4
  small.d-block.text-right.mb-2= message.date.toISOString().substr(0,10).split('-').reverse().join('/')
  blockquote.blockquote
    p.mb-0=message.text
    author.blockquote-footer.text-right=message.author.name
