extends layout

block content
  .col-sm-8.col-sm-offset-2
      .jumbotron.text-center
        h1= title
        p.lead Welcome to #{title}
        a.btn.btn-default(href="/users/login")
          span.fa.fa-sign-in
          | &nbsp;Login
        a.btn.btn-default(href="/users/signup")
          span.fa.fa-user
          | &nbsp;Signup
