extends layout

block content
  div.row
    .col-sm-12
      h2= title
      if (flashMessage.length)
        .alert.alert-warning(role="alert")
          strong= flashMessage
      hr
    .col-sm-12
      .btn-group.btn-group-lg.btn-group-vertical
        if (user)
          a.btn.btn-light(href="/user/")
            span.fa.fa-fw.fa-user
            | &nbsp;Profile
          a.btn.btn-danger(href="/user/logout")
            span.fa.fa-fw.fa-sign-out
            | &nbsp;Logout
        if (!user)
          a.btn.btn-light(href="/user/login")
            span.fa.fa-fw.fa-sign-in
            | &nbsp;Connexion
          a.btn.btn-warning(href="/user/signup")
            span.fa.fa-fw.fa-handshake-o
            | &nbsp;Inscription
    .col-sm-12
      hr
      a.btn(href="/user/signup")
        span.fa.fa-question-circle
        | &nbsp;À propos
            
