nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href="/") Social Network
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
    span.fa.fa-bars
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href="/") Accueil
      li.nav-item
        a.nav-link(href="/user") Profile
      li.nav-item
        a.nav-link(href="/inbox") Messagerie      
      li.nav-item
        a.nav-link(href="/chat") Chat
