nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href="/") Social Network
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
    span.fa.fa-bars
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href="/") Accueil
      if (!viewer) 
        li.nav-item
          a.nav-link(href="/user/login") Connexion
        li.nav-item
          a.nav-link(href="/user/signup") Inscription
      else
        li.nav-item
          a.nav-link(href="/user/" + viewer._id) Profile
        li.nav-item
          a.nav-link(href="/inbox/" + viewer._id) Messagerie      
        li.nav-item
          a.nav-link(href="/chat/" + viewer._id) Chat
        li.nav-item
          a.nav-link(href="/user/logout") Déconnexion
        
