#profileWall.card.mx-auto.my-2.my-md-0
  .card-body
    h4.d-flex.justify-content-between.align-items-center
      span Fil d'actualité 
      span(title="Nombre de messages publiés")#postCount.badge.badge-dark.px-3 #{user.posts.length}
  ul.list-group.list-group-flush.text-left
    li.list-group-item
      include ./createPost.pug
    li.list-group-item.bg-warning.py-4
      a.carousel-control-prev(href="#postCarousel" role="button" data-slide="prev")
        span.carousel-control-prev-icon(aria-hidden="true")
        span.sr-only Previous
      a.carousel-control-next(href="#postCarousel" role="button" data-slide="next")
        span.carousel-control-next-icon(aria-hidden="true")
        span.sr-only Next
    li.list-group-item
      #postCarousel.carousel.slide(data-interval="false")
        .carousel-inner
          each post, i in user.posts
            include ./profileWallPost.pug
        
