extends layout

block content
  div.row
    .col-sm-12.col-md-6
      .card.mx-auto
        img.card-img-top.img-fluid(src="https://avatars.io/gravatar/"+user.email alt="Card image cap")
        ul.list-group.list-group-flush.text-left
          li.list-group-item
            span.fa.fa-fw.fa-male
            | &ensp;#{user.name || user.email}
          li.list-group-item
            span.fa.fa-fw.fa-envelope
            | &ensp;#{user.email}
          li.list-group-item
            span.fa.fa-fw.fa-map
            | &ensp;
          li.list-group-item
            span.fa.fa-fw.fa-hashtag
            | &ensp;#{user.id}
    .col-sm-12.col-md-6
      .card.mx-auto.my-xs-2
        .card-body
          h4.card-title Profile
        ul.list-group.list-group-flush.text-left
          li.list-group-item
            | Some quick example text to build on the card title and make up the bulk of the card's content.
            | Some quick example text to build on the card title and make up the bulk of the card's content.
            | Some quick example text to build on the card title and make up the bulk of the card's content.
            | Some quick example text to build on the card title and make up the bulk of the card's content.
            | Some quick example text to build on the card title and make up the bulk of the card's content.
          li.list-group-item
            a.btn.btn-primary(href="#") Go somewhere        
