.card.mx-auto.my-2
  .card-body
    h4.card-title Fil d'actualité
  ul.list-group.list-group-flush.text-left
    li.list-group-item
      | Some quick example text to build on the card title and make up the bulk of the card's content.
      | Some quick example text to build on the card title and make up the bulk of the card's content.
      | Some quick example text to build on the card title and make up the bulk of the card's content.
      | Some quick example text to build on the card title and make up the bulk of the card's content.
      | Some quick example text to build on the card title and make up the bulk of the card's content.
    li.list-group-item
      a.btn.btn-primary(href="#") Go somewhere
