.modal#shareFriendModal(tabindex="-1" role="dialog" aria-labelledby="shareLabel" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h5#shareLabel.modal-title Recommander un ami
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      .modal-body
        ul#shareFriendWith.list-group
          each friend in user.friends
            if (friend.role !== 'admin')
              a(data-friend="" href="/share/" + friend._id).list-group-item.list-group-item-action=friend.name || friend.email
