body,
input,
textarea {
  font: 14px Quicksand, Helvetica, Arial, sans-serif;
}
body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding-top: 20px;
}
a {
  color: #00B7FF;
}

.carousel-item-right,
.carousel-item-left {
  height: 0;
}

.profileImage {
  max-height: 300px;
  object-fit: contain;
}

.friendItem img,
.friendSearchItem img {
  max-height: 30px;
  max-width: 30px;
  object-fit: cover;
}
